.url-input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.url-text-label {
  font-weight: bold;
}
.url-text-input {
}

@media (min-width: 1200px) {
  .url-input-container {
    flex-basis: 80%;
  }
  .url-text-input {
    flex-basis: 100%;
  }
}
