.plugin-input-textarea-container {
  display: grid;
  /* justify-items: end;
  margin: 2rem;
  font-size: var(--font-size); */
}

#plugin-input-textarea {
  /* border: 0.1rem solid black; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.plugin-input-textarea-label-container {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
}

.plugin-input-text-area-label {
  color: white;
  background-color: black;
  font-weight: bold;
  align-self: flex-start;
  padding: 1rem;
}
