.plugin-input-text-area-container,
.plugin-output-text-area-container {
  display: grid;
  justify-items: end;
  margin: 2rem;
  font-size: var(--font-size);
}

#plugin-input-textarea,
#plugin-output-textarea {
  border: 0.1rem solid black;
}

.textarea-label-container {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
}

.text-area-label {
  color: white;
  background-color: black;
  font-weight: bold;
  align-self: flex-start;
  padding: 1rem;
}
